*{
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(180deg, #fdfbf3, #fef3cc);

    min-height: 100vh;
}
    


img{
    height:100px;
    width: 100px;
    object-fit: cover;
    /* object-fit: contain; */
}
.main-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}
.box{
    height: 500px;
    width: 300px;
    border: 4px solid#FFB039;;
    /* margin: 20px; */
    
}
.box h1 {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box button {
    margin: 20px auto;
    display: block;
    align-items: center;
    justify-content: center; 
}
