*{
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(135deg, #FF6B6B, #FFD93D, #6BCB77, #4D96FF, #845EC2);
    min-height: 100vh; 
}

img{
    height:100px;
    width: 100px;
    object-fit: cover;
    /* object-fit: contain; */
}
.main-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}
.box{
    height: 400px;
    width: 300px;
    border: 0.1px solid rgb(148, 142, 142);
    /* margin: 20px; */
    
}
.box h1 {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box button {
    margin: 20px auto;
    display: block;
    align-items: center;
    justify-content: center; 
}
